body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size:13px;
  font-weight: bold;
}

/*----------Corps CSS---------*/
.headerApp{
  position:fixed;
  display: flex;
  background-color: #fff;
  width: 100%;
  top:0px;
  height: 80px;
}
.logo{
  position:fixed;
  right:45%;
  top:30px;
  width: 120px;
  margin-left: 50px;
}

.Accueil{
  margin-top: 200px;
  font-size: 26px;
  font-weight: normal;
}

.PatientsList{
  background-color: #ECECEC;
  padding-top: 150px;
  width:100px;
  margin-left: 7%;

}
.namesButton{
  font-size: 13px;
  width:100px;
  border: 2px solid #FCBF90 ;
  border-radius: 9px;
  margin-top: 15px;
  background-color: #FFFFFF;
  padding: 0px;
  cursor: pointer;

}

.namesButton:hover{
  background-color: #FCBF90;
  color:#fff;

}

.NewPatientButton{
  font-size: 14px;
  display: fixed;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:4%;
  width:180px;
  cursor: pointer;
  border-radius: 40px;
  background-color: #FED159;
  padding: 0px;
  color:#ffffff;
  text-decoration: none;
  border: none;
}

.NewPatientButton:hover{
  background-color: #fff;
  color:#000;
  border:2px solid #FED159;
}

/*---------Patient CSS----------*/

.PatientArea{
  border: 2px solid #FFD5A3;
  background-color: #fff;
  position:fixed;
  top:100px;
  margin-left: 25%;
  width:70%;
  height:85%;

}

.headerPatientDate{
  text-align: center;
  padding: 5px;
  background-color: #FFD5A3;
  border-radius-top: 9px;
}
.nameUnderline{
 
  font-size: 25px;
  font-weight: normal;
  padding-bottom: 10px;
}

.InfoPatient{
  width:80%;
  border-top: 1px solid #000;
  padding-top: 10px;
  margin-left: 10%;
  display: flex;
  height: 80px;
}

.displayInfo{
  padding-left: 18%;
}

.groupInfo{
  font-size: 16px;
  margin-top: 10px;
  font-weight: normal;
}

.patientInfo{
  font-size: 13px;
  margin-top: 0px;
  font-weight: normal;
}

.content{
  width: 100%;
  padding: 10px 5px;
  margin-left: 20px;
  height: 65%;
}

/*-----Description Consultation-----*/


.ConsultationArea{
  margin-top: 40px;
  width:90%;
  height:95%;
  background-color: #fff;
  display: flex;
}

.ButtonNew{
  display: flex;
  cursor: pointer;
  width:125px;
  font-size: 12px;
  text-decoration: none;
  border: none;
  margin-left: 3px;
  background-color: #FED159;
  border-radius: 40px;
  border:2px solid #FED159;
  color:#ffffff;
  padding:0px 13px;
  margin-bottom: 40px;

}
.ButtonNew:hover{

  background-color: #fff;
  color:#000;

}

.PatientDate{
  width:100px;
  border: 2px solid #FCBF90 ;
  border-radius: 9px;
  background-color: #FFFFFF;
  padding: 0px;
  cursor: pointer;
  font-size: 12px;
  border: 2px solid #ffffff solid;
  width:110px;
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  color: #000;

}

.PatientDate:hover{
  background-color: #FCBF90;
  color:#fff;
}

.PatientDate:press{
  background-color: #FCBF90;
  color:#fff;
}

.DateStyle{
  padding-left: 15px;
}

.leftColumn{
  width:16%;
}

.rightColumn{
  width:80%;
  height: 90%;
  position:relative;
  margin-left: 80px;
  /*border:2px solid #FCBF90 ;
  border-radius:9px;*/
}

.DescriptionArea{
  position:relative;
  margin-left: 25px;
  width:90%;
  height:98%;
  background-color: #fff;
  
}

/*---------- Text Note ---------*/
.alignBottomRight{
  position:absolute;
  bottom:10px;
  right:10px;
}

.textNote{
  font-size: 15px;
  font-weight: normal;
  position:absolute;
  font-style: italic;
}
.alignText{
  text-align: left;
}

/*---------- Modify Note ---------*/
.ModifyNote{
  position: relative;
  height: 100%;

}

.InputModCons{
  height: 78%;
  width:100%;
  text-decoration: none;
  border: 2px solid #FED159;
  font-size: 15px;
  border-radius: 9px;
  margin-left: -20px;

}

.InputModCons:focus {
  border: 3px solid #A1A1A1;
  outline: none;
}

.ButtonSmall{
  cursor: pointer;
  width:90px;
  font-size: 11px;
  text-decoration: none;
  border: none;
  padding: 0px;
  background-color: #FED159;
  border:2px solid #FED159;
  border-radius: 40px;
  padding: 0px 2px;
  margin-left: 10px;
  color:#fff;
}
.ButtonSmall:hover{

  background-color: #fff;
  color:#000;

}
/*----------New Consultation----------*/

.InputNewCons{
  height: 350px;
  width:90%;
  text-decoration: none;
  border: 2px solid  #FED159;
  font-size: 15px;
  border-radius: 9px;

}

.InputNewCons:focus {
  border: 3px solid #A1A1A1;
  outline: none;
}

.Button{
  cursor: pointer;
  width:110px;
  font-size: 13px;
  text-decoration: none;
  border: none;
  padding: 0px 2px;
  background-color: #FED159;
  border-radius: 40px;
  margin-left:10px;
  color:#fff;
  border:2px solid #FED159;
}

.Button:hover{
  background-color: #fff;
  color:#000;
}


/*---------NewPatient CSS--------*/

.NewPatientArea{
  border: 2px solid #FED159;
  background-color: #fff;
  position:fixed;
  top:100px;
  margin-left: 25%;
  width:70%;
  height:85%;
}


.headerConsultationStyle  {
  background-color: #FED159;
  border-radius-top: 9px;
  padding-top:30px;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.entry{
  display:flex;
  padding-bottom:5px;
}

.InputNewName{
  border: 2px solid  #FED159;
  height: 50px;
  width: 200px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 9px;
}
.InputNewName:focus {
  border: 3px solid #A1A1A1;
  outline: none;
}

.InputNewPatient{
  position:absolute;
  margin-left: 200px;
  margin-top: 8px;
  border: 1px solid  #FED159;
  height: 30px;
  width: 200px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 9px;
}
.InputNewPatient:focus {
  border: 3px solid #A1A1A1;
  outline: none;
}

.InputNewNotes{
  height: 300px;
  margin-top: 10px;
  width:80%;
  text-decoration: none;
  border: 1px solid  #FED159;
  font-size: 15px;
  /*border-radius: 9px;*/

}
.InputNewNotes:focus {
  border: 3px solid #A1A1A1;
  outline: none;
}

